name: Terraform CI/CD - RoCa Motors

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${ secrets.AWS_ACCESS_KEY_ID }
      AWS_SECRET_ACCESS_KEY: ${ secrets.AWS_SECRET_ACCESS_KEY }
      AWS_SESSION_TOKEN: ${ secrets.AWS_SESSION_TOKEN }
      AWS_REGION: us-east-1
      TF_IN_AUTOMATION: "true"
      TF_INPUT: "0"
      DDB_TABLE: tf-locks
      S3_BUCKET: roca-bucket-aws
      TFSTATE_KEY: terraform/rocamotors-iac.tfstate

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Ensure DynamoDB table for TF locks exists
        shell: bash
        run: |
          set -e
          if aws dynamodb describe-table --table-name "$DDB_TABLE" >/dev/null 2>&1; then
            echo "DynamoDB table '$DDB_TABLE' already exists."
          else
            echo "Creating DynamoDB table '$DDB_TABLE'..."
            aws dynamodb create-table \
              --table-name "$DDB_TABLE" \
              --attribute-definitions AttributeName=LockID,AttributeType=S \
              --key-schema AttributeName=LockID,KeyType=HASH \
              --billing-mode PAY_PER_REQUEST \
              --region "$AWS_REGION"
            echo "Waiting for table to be ACTIVE..."
            aws dynamodb wait table-exists --table-name "$DDB_TABLE"
          fi
            
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Terraform Init
        working-directory: Terraform
        run: terraform init -backend-config="bucket=${ env.S3_BUCKET }" -backend-config="key=${ env.TFSTATE_KEY }" -backend-config="region=${ env.AWS_REGION }" -backend-config="dynamodb_table=${ env.DDB_TABLE }"

      - name: Terraform Format
        working-directory: Terraform
        run: terraform fmt -check
          
      - name: Terraform Validate
        working-directory: Terraform
        run: terraform validate

      - name: Terraform Plan
        working-directory: Terraform
        run: terraform plan -out=tfplan.out

      - name: Upload Terraform Plan
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: Terraform/tfplan.out

      # (Opcional) Guardar logs de ejecución para análisis
      - name: Save logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: terraform-logs
          path: Terraform/.terraform/

      # (Opcional) Terraform Apply - Controlado
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        working-directory: Terraform
        run: terraform apply -auto-approve
